page-cadastro-clientes {
        .btn_cadastro{
               
                position: relative;
                margin-top: 45px;
        }

        .logo {
            width: 97px;
            height: 39px;
            position: relative;
 
        }
          

      /*  ion-header {

            .toolbar-title {
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              align-items: center;
              -webkit-justify-content: center;
              justify-content: center;
            }
            .title.title-md {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                height: 100%;
                width: 70%;
                text-align: center;
            }

          }*/

         .title.title-md {
            position: absolute;
            left: 55%;
            top: 0;
            transform: translateX(-50%);
            height: 100%;
            width: 70%;
         
        }

        .back_home{
            color: #898989;
            bottom: 20px;
            position: relative;
        }


}
