page-home {
    .background {
        background: url('../assets/img/background.png');
        -webkit-background-image: url('../assets/img/background.png');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
    }
    .scroll-content {
        overflow-y: auto;
    }
    .logo {
        width: 274px;
        height: 111px;
        position: absolute;
        top: 174px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .item {
        margin-bottom: -5px;
    }
    .form_login {
        top:250px;
        position: relative;
    opacity: 0.7;
    }

   
    
    .input_login {
        //background-color: #6E7072;
        background: none;
        color: #fff;
    }
    .forgot_password {
        top: 220px;
        position: relative;
    
    }
    .botao_entrar {
       top: 220px;
       position: relative;
    }
    .cadastro {
        top: 220px;
        position: relative;
        
        opacity: 0.7;
    }
}