page-home {
    ion-content{
                background-image: url('../assets/img/background.png');
                -webkit-background-image: url('../assets/img/background.png');
              background-size: cover;
             
             
}

.logo{
   
 width: 274px;
 height: 111px;
 position: absolute;
top:36%;
 left: 0; 
 right: 0; 
 margin: auto;
    
}

.form_login{

    top:55%;
    position: relative;
    
    
}

.input_login{
background-color: #6E7072;


border-radius: 32px;
}

.forgot_password{

    top:45%;
    position: relative;
}


.botao_entrar{

    top:40%;
    position: relative;
}



.cadastro{
    top:40%;
    position: relative;

}



}
