page-intro {

    .slide_image img{
        width:80px;
        
    }

    .slide_image{
        color: #95989A;
    }

    .btnHome{
        left:90px;
        top: 60px;
        position: relative;

    }

}
